@font-face {
    font-family: bigshot;
    src: url(assets/BigshotOne-Regular.ttf);
}

@font-face {
    font-family: bigshoulder;
    src: url(assets/BigShoulders_60pt-Regular.ttf);
}

#dashboard{
    display: grid;
    width:100%;
    height:fit-content;
    /* justify-items:center;
    align-items:center; */
    /* gap:20px 0; */
    gap: 2vw 0;

    margin-top:25vh;
    grid-template-columns: auto auto;
    grid-auto-rows:min-content;
    /* grid-template-rows:auto auto; */
}

.espacos{
    border:solid;
    display:flex;
    flex-direction:column;
    /* width:500px; */
    /* width:37vw; */
    /* width:80vh; */
    width:calc(40vh + 18.5vw);
    /* height:100px; */
    height:fit-content;
    justify-content:center;
    align-items:center;
    /* display:inline-block; */
    margin:0 auto;
    /* padding:40px; */
    /* padding:3vw; */
    /* padding:6.5vh; */
    padding:calc(1.5vw + 3.25vh);
    border-radius:20px;
}


.botoes{
    /* font-size:25px; */
    /* font-size:1.8vw; */
    /* font-size:4vh; */
    font-size:calc(2vh + 0.9vw);
    cursor:pointer;
    border:none;
    background:transparent;
    /* margin-top:10px; */
    margin-top:1.5vh;
}

#numero_alunos{
    color:red;
}


#numero_alunos button{
    color:red;
    
}

#numero_usuarios{
    color:blue;
}

#numero_usuarios button{
    color:blue;
}

#numero_de_ocorrencias{
    color:purple;
}

#numero_de_ocorrencias button{
    color:purple;
}

#numero_de_portaria{
    color:green;
}

#numero_de_portaria button{
    color:green;
}

.a{
    display:flex;
    flex-direction:row;
    /* font-size:40px; */
    /* font-size:6.5vh; */
    /* font-size:3vw; */
    font-size:calc(1.5vw + 3.25vh);
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
    /* font-weight:bold; */
    font-family:'Times New Roman', Times, serif;
    font-family:monospace;
    font-family:bigshot;
    font-family:arial;
    /* text-decoration:underline; */
}


.totais{
    /* margin-left:10px; */
    margin-left:1vw;
}

.mostrar_mais{
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* gap:10px; */
    gap:1.5vh;
    font-size:23px;
    /* font-size:3.5vh; */
    /* font-size:1.66vw; */
    font-size:calc(1.75vh + 0.83vw);
    border-top:solid;
    /* margin-top:10px; */
    margin-top:1.5vh;
    /* padding-top:10px; */
    padding-top:1.5vh;
    /* display:none; */
}

/* #ocorrencias_em_salas{
    font-size:35px;
    font-size:5vh;
}
 */
/* #numero_ocorrencias_salas{
    margin-left:10px;
}

#manha_tarde{
    display:flex;
    font-size:25px;
    width:100%;
    height:fit-content;
    justify-content:space-evenly;
    margin-top:20px;
}

#manha_tarde div{
    font-style:italic;
    font-weight:bold;
    text-decoration:underline;
} */

/* #ocorrencias_salas button{
    margin-top:20px;
    /* color:red; */
        /* text-decoration:underline wavy; */
