@font-face {
    font-family: bigshot;
    src: url(assets/BigshotOne-Regular.ttf);
}

@font-face {
    font-family: bigshoulder;
    src: url(assets/BigShoulders_60pt-Regular.ttf);
}

#dashboard{
    display: grid;
    width:100%;
    height:fit-content;
    /* justify-items:center;
    align-items:center; */
    gap:20px 0;
    grid-template-columns: auto auto;
    grid-auto-rows:min-content;
    /* grid-template-rows:auto auto; */
}

.espacos{
    border:solid;
    display:flex;
    flex-direction:column;
    width:500px;
    /* height:100px; */
    height:fit-content;
    justify-content:center;
    align-items:center;
    /* display:inline-block; */
    margin:0 auto;
    padding:40px;
    border-radius:20px;
}
#numero_alunos{
    color:red;
}

#numero_usuarios{
    color:blue;
}

.botoes{
    font-size:25px;
    cursor:pointer;
    border:none;
    background:transparent;
    margin-top:10px;
}

#numero_alunos button{
    color:red;
    
}

#numero_usuarios button{
    color:blue;
}

.a{
    display:flex;
    flex-direction:row;
    font-size:45px;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
    /* font-weight:bold; */
    font-family:'Times New Roman', Times, serif;
    font-family:monospace;
    font-family:bigshot;
    font-family:arial;
    /* text-decoration:underline; */
}


.totais{
    margin-left:10px;
}

.mostrar_mais{
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;
    font-size:23px;
    border-top:solid;
    margin-top:10px;
    padding-top:10px;
    /* display:none; */
}