label{
    display:block;

}

.add{
    display:inline-block;
    border:solid;
}

button{
    cursor:pointer;
}

#lugar_alunos{
    display:grid;
    width: 100%;
    height: fit-content;
    grid-template-columns: auto auto auto;
    gap: 15px 0px;
}

.mostra_alunos{
    display:inline-block;
    width:250px;
    height:fit-content;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:solid black;
    border-radius:20px;
}