#pagina_ocorrencias{
    margin-top:150px;
}

label{
    display: block;
}

#ocorrencias{
    /* display: none; */
    border:solid;
    border-radius: 15px;
    display: inline-block;
    position:fixed;
    top:0;
    left:30%;
    background:white;
    padding:10px;
};
    

#label_bom{
    position:relative;
    display:inline;
    margin-left:20px
    
}
#label_bom input{
    position:absolute;
    opacity:0;
    cursor:pointer;
    
}
#label_ruim{
    position:relative;
    display:inline-block;
     margin-left:20px;
}
#label_ruim input{
    position:absolute;
    opacity:0;
    cursor:pointer;
}
#sorriso{
    display:inline-block;
    cursor:pointer;
}
#triste{
    display:inline-block;
    cursor:pointer;
}

#label_bom input:hover{
    transform:scale(1.5);
}

#sorriso:hover{
    transform:scale(1.5);
}

#label_ruim input:hover{
    transform:scale(1.5);
}

#triste:hover{
    transform:scale(1.5);
}
#label_bom:has(#sorriso:hover){
    margin-left:25px;
}

#label_ruim:has(#triste:hover){
    margin-left:25px;
}

#sorriso:active{
    transform:scale(1);
    
}

#triste:active{
    transform:scale(1);
    
}

#label_bom input:checked ~ #sorriso{
    filter:brightness(1.5);
}

#label_ruim input:checked ~ #triste{
    filter:brightness(1.5);
}

#input_de_nome{
    position:relative;
}

#input_de_nome #resultado{
    position:absolute;
    width:200px;
    top:30px;
    left:10px;
    border:solid;
    background-color: white;
    color:black;
    z-index:50;
}

#lugar_ocorrencias{
    /* display:grid;
    width:100%;
    height: fit-content;
    grid-template-columns: auto auto;
    gap: 15px 0px; */
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    justify-items:center;
    margin-top:80px;
    gap: 55px 0px
}

#adcionar_ocorrencias{
    width:400px;
    height:200px;
    display:inline-block;
    border:dashed;
    background:transparent;
    border-radius:20px;
    cursor:pointer;
    transition:transform 500ms ease;
}

#adcionar_ocorrencias:hover{
    transform:scale(1.1);
}


.mostra_ocorrencias{
    border-left:solid;
    /* background:white; */
    background:#f4f4f4;
    width: 450px;
    height:fit-content;
    border-radius:20px;
    padding:10px;
    display:flex;
    flex-direction:column;
    gap:20px;
    box-shadow:5px 5px 20px grey;
    transition:transform 500ms ease;
}

.mostra_ocorrencias:hover{
    transform:scale(1.1);
    
}

.bom{
    border-color:green;
}
.bom:hover{
    box-shadow:5px 5px 10px green;
}

.ruim{
    border-color: red;
}
.ruim:hover{
    box-shadow:5px 5px 10px red;
}

.parte_cima{
    display:flex;
    flex-direction:row;
    border-bottom:solid;
    width:100%;
    height:fit-content;
    align-items:center;
    /* border-radius:10px; */
    position:relative;
}

.parte_cima .datas{
    margin-left:50px;
}

.parte_cima:first-child{
    font-size:23px;
}

.parte_cima :nth-child(2){
    margin-left:10px;

}

.datas{
    position:absolute;
    font-size:15px;
    border:1px solid;
    padding:5px;
    border-radius:30px;
    color:white; 
    color:white;
    /* margin-left:230px !important; */
    /* margin-left: */
    left:310px;
    
}

.data_bom{
    border-color:green;
    background: green;
}

.data_ruim{
    border-color:red;
    background: red;
}

.nome_cgm{
    display:flex;
    width:fit-content;
    height:fit-content;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    white-space:nowrap;
    /* color:red; */
}

.nome_cgm :first-child{
    font-weight:bold;
    text-decoration:underline;
    font-size:20px;
    
}

.nome_cgm :nth-child(2){
    font-size:13px;
    color:grey;
    font-style:italic
}

.informaçao{
    display:flex;
    flex-direction: row;
}

.auxiliar{
    display:flex;
    flex-direction:column;
    width:150px;
    height:fit-content;
    justify-content:center;
    gap:20px;
    
}

.series, .relatores{
    gap:5px;
    text-align:center
    
}
.series :first-child, .relatores :first-child{
    text-decoration:underline;
    font-size:20px;
    font-style:italic;
   
}
.series :nth-child(2), .relatores :nth-child(2){
    font-size:15px;
    color:#000000;
    margin-top:5px;
}

.auxiliar_motivo{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:center;
    align-items:center;
    
}

.motivos{
    
    color:white;
    display:flex;
    width:80%;
    max-height:100px;
    padding:10px;
    border-radius:10px;
    flex-direction:column;
    border:solid;
    justify-content:center;
    align-items:center;
}

.motivo_bom{
    background:green;
}

.motivo_ruim{
    background:red;
}

.motivos :first-child{
    text-decoration:underline;
    font-size:20px;
}
.motivos :nth-child(2){
    margin-top:10px;
    
}
.botoes{
    display:flex;
    flex-direction:row;
    width:100%;
    height:fit-content;
    justify-content:space-around;
    margin-top:10px;
}

.editar, .apagar{
    background:transparent;
    border:none;
    cursor:pointer;
    /* color:green; */
    font-size:15px;
    
}

.editar:hover, .apagar:hover{
    transform:scale(1.1);
    
}

.editar:active{
    transform:scale(1);
    
}

#buscar{
    display:flex;
    flex-direction:row;
    width:100%;
    height:fit-content;
    /* justify-content:space-evenly;
    */
    justify-content:center;
}

#input_buscar{
    border:1px solid;
    width:fit-content;
    background:white;
    border-radius:20px;
    padding:5px;
    padding-left:10px;
    /* height */
    margin-left:-100px;
    
}


#buscar input{
    border:none;
    width:500px;
    height:30px;
    font-size:20px;
    margin-left:10px;
    font-family:'Times New Roman', Times, serif;
    /* border-radius:20px; */
}

#buscar select{
    border:1px solid;
    border-radius:15px;
    padding-left:20px;
    padding-right:20px;
}

select{
    cursor:pointer;
    margin-left:50px;
    
}

