@font-face {
    font-family: bigshot;
    src: url(assets/BigshotOne-Regular.ttf);
}

@font-face {
    font-family: bigshoulder;
    src: url(assets/BigShoulders_36pt-Regular.ttf);
}

#pagina_ocorrencias{
    margin-top:150px;
}

label{
    display: block;
    text-align:center;
    text-decoration:underline;
    font-style:italic;
    font-size:25px;
    color:white;
    font-family:bigshot;
    text-shadow: 5px 5px 5px white;
}

#ocorrencias{
    /* display: none; */
    border:outset;
    border-radius: 15px;
    /* display: inline-block; */
    display:grid;
    grid-template-columns:1fr 1fr;
    width:900px;
    position:fixed;
    top:130px;
    left:15%;
    background:white;
    padding:15px;
    gap:20px 0px;
    padding-top:30px;
    padding-bottom:30px;
    color:white;
    border-color:black;
    box-shadow: 5px 5px 15px grey, 10px 10px 20px black, inset 5px 5px 10px white;
    background:black;
}



#input_de_cgm, #input_de_nome, #input_de_serie, #input_de_usuario, #input_de_motivo{
    display:flex;
    flex-direction:row;
    width:100%;
    height:fit-content;
    justify-content:center;
    align-items:center;
     margin-top:15px;
    font-size:18px;
}
#ocorrencias input{
    font-size:18px;
}

.a{
    width:fit-content;
    height:fit-content;
    border: solid;
    border-radius:15px;
    display:inline-block;
    padding:5px;
    background:white;
    box-shadow: 5px 5px 5px grey inset, inset -3px -3px 5px grey;
}

.a i{
    margin-left:5px;
    color:grey;
}

.a input{
    background:transparent;
    border:none;
    border-radius:18px;
    
}

.a:has(input:disabled){
    background:#c3c3c3;
    cursor:not-allowed;
    border:solid;
    box-shadow: 5px 5px 5px #525050 inset, inset -3px -3px 5px #525050;
}

input:disabled{
   /* background:#c3c3c3; */
    cursor:not-allowed;
}

#motivo_ocorrencia{
    font-size:18px;
    padding:10px;
    width:250px;
    border-radius:15px;
    border:solid white;
    box-shadow: 10px 10px 5px grey inset, inset -6px -6px 5px grey;
    /* box-shadow: -5px -5px 10px grey inset; */
    
}

#os_botoes{
    grid-column:span 2;
    display:flex;
    flex-direction:row;
    width:100%;
    height:fit-content;
    justify-content:space-evenly;
    margin-top:15px;
    /* border:outset */
    /* font-size:26px; */
    /* position:relative; */
}

#os_botoes button{
    display:flex;
    cursor:pointer;
    font-size:18px;
    background:transparent;
    border:solid;
    border-radius:10px;
    padding:3px;
    color:white;
    /* border-color:black; */
    box-shadow: 1px 1px 3px white inset, 5px 5px 8px grey;
    transition:transform 200ms ease; 
}

#os_botoes button:hover{
    transform:scale(1.1);
}

#bom_ou_ruim{
    display:flex;
    flex-direction:row;
    width:100%;
    height:fit-content;
    justify-content:center;
     margin-top:30px; 
    gap:10%;
}
    

#label_bom{
    position:relative;
    display:inline;
    /* margin-left:20px; */
    font-size:40px;
    text-shadow: 5px 5px 10px white;
    
}
#label_bom input{
    position:absolute;
    opacity:0;
    cursor:pointer;
    /* top:50%;
    left:50%; */
    /* width:50px;
    height:50px; */
    /* font-size:40px; */
    
}
#label_ruim{
    position:relative;
    display:inline-block;
     /* margin-left:20px; */
    font-size:40px;
    text-shadow: 5px 5px 10px white;
}
#label_ruim input{
    position:absolute;
    opacity:0;
    cursor:pointer;
    /* font-size:40px; */
    /* width:50px;
    height:50px; */
}
#sorriso{
    display:inline-block;
    cursor:pointer;
    font-style:normal;
}
#triste{
    display:inline-block;
    cursor:pointer;
     font-style:normal;
}

#label_bom input:hover{
    transform:scale(1.5);
}

#sorriso:hover{
    transform:scale(1.5);
}

#label_ruim input:hover{
    transform:scale(1.5);
}

#triste:hover{
    transform:scale(1.5);
}
#label_bom:has(#sorriso:hover){
    /* margin-left:25px; */
}

#label_ruim:has(#triste:hover){
    /* margin-left:25px; */
}

#sorriso:active{
    transform:scale(1);
    
}

#triste:active{
    transform:scale(1);
    
}

#label_bom input:checked ~ #sorriso{
    filter:brightness(1.5);
}

#label_ruim input:checked ~ #triste{
    filter:brightness(1.5);
}

#input_de_nome{
    position:relative;
}

#input_de_nome #resultado{
    position:absolute;
    width:300px;
    /* width:40px; */
    top:60px;
    left:70px;
    border:outset;
    box-shadow:-5px -5px 10px grey inset;
    background-color: white;
    color:black;
    z-index:50;
    font-size:18px;
    text-align:center;
    border-radius:20px;
    border-top:none;
    cursor:pointer;
    overflow:auto;
    padding:10px;
}

#resultado :first-child{
    margin-top:10px;
}

#resultado::-webkit-scrollbar{
    /* heigth:5px; */
    /* width:5px; */
    height:10px;
    /* width:fit-content; */
}
 #resultado::-webkit-scrollbar-thumb{
    background:black;
    border-radius:45px;
}

 #resultado::-webkit-scrollbar-track{
    background:grey;
    border-radius:45px;
}

.nome_resultados{
    transition:transform 200ms ease;
}
.nome_resultados:hover{
    transform:scale(1.05);
}

#lugar_ocorrencias{
    /* display:grid;
    width:100%;
    height: fit-content;
    grid-template-columns: auto auto;
    gap: 15px 0px; */
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    justify-items:center;
    margin-top:80px;
    gap: 55px 0px
}

#adcionar_ocorrencias{
    width:400px;
    height:200px;
    display:inline-block;
    border:dashed;
    background:transparent;
    border-radius:20px;
    cursor:pointer;
    transition:transform 500ms ease;
}

#adcionar_ocorrencias:hover{
    transform:scale(1.1);
}


.mostra_ocorrencias{
    border-left:solid;
    /* background:white; */
    background:#f4f4f4;
    width: 450px;
    height:fit-content;
    border-radius:20px;
    padding:10px;
    display:flex;
    flex-direction:column;
    gap:20px;
    box-shadow:5px 5px 20px grey;
    transition:transform 500ms ease;
}

.mostra_ocorrencias:hover{
    transform:scale(1.1);
    
}

.bom{
    border-color:green;
}
.bom:hover{
    box-shadow:5px 5px 10px green;
}

.ruim{
    border-color: red;
}
.ruim:hover{
    box-shadow:5px 5px 10px red;
}

.parte_cima{
    display:flex;
    flex-direction:row;
    border-bottom:solid;
    width:100%;
    height:fit-content;
    align-items:center;
    /* border-radius:10px; */
    position:relative;
}

.parte_cima .datas{
    margin-left:50px;
}

.parte_cima:first-child{
    font-size:23px;
}

.parte_cima :nth-child(2){
    margin-left:10px;

}

.datas{
    position:absolute;
    font-size:15px;
    border:1px solid;
    padding:5px;
    border-radius:30px;
    color:white; 
    color:white;
    /* margin-left:230px !important; */
    /* margin-left: */
    left:310px;
    
}

.data_bom{
    border-color:green;
    background: green;
}

.data_ruim{
    border-color:red;
    background: red;
}

.nome_cgm{
    display:flex;
    width:fit-content;
    height:fit-content;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    white-space:nowrap;
    /* color:red; */
}

.nome_cgm :first-child{
    font-weight:bold;
    text-decoration:underline;
    font-size:20px;
    
}

.nome_cgm :nth-child(2){
    font-size:13px;
    color:grey;
    font-style:italic
}

.informaÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ao{
    display:flex;
    flex-direction: row;
}

.auxiliar{
    display:flex;
    flex-direction:column;
    width:150px;
    height:fit-content;
    justify-content:center;
    gap:20px;
    
}

.series, .relatores{
    gap:5px;
    text-align:center
    
}
.series :first-child, .relatores :first-child{
    text-decoration:underline;
    font-size:20px;
    font-style:italic;
   
}
.series :nth-child(2), .relatores :nth-child(2){
    font-size:15px;
    color:#000000;
    margin-top:5px;
}

.auxiliar_motivo{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:center;
    align-items:center;
    
}

.motivos{
    
    color:white;
    display:flex;
    width:80%;
    max-height:100px;
    padding:10px;
    border-radius:10px;
    flex-direction:column;
    border:solid;
    justify-content:center;
    align-items:center;
}

.motivo_bom{
    background:green;
}

.motivo_ruim{
    background:red;
}

.motivos :first-child{
    text-decoration:underline;
    font-size:20px;
}
.motivos :nth-child(2){
    margin-top:10px;
    
}
.botoes{
    display:flex;
    flex-direction:row;
    width:100%;
    height:fit-content;
    justify-content:space-around;
    margin-top:10px;
}

.editar, .apagar{
    background:transparent;
    border:none;
    cursor:pointer;
    /* color:green; */
    font-size:15px;
    
}

.editar:hover, .apagar:hover{
    transform:scale(1.1);
    
}

.editar:active{
    transform:scale(1);
    
}

#buscar{
    display:flex;
    flex-direction:row;
    width:100%;
    height:fit-content;
    /* justify-content:space-evenly;
    */
    justify-content:center;
}

#input_buscar{
    border:1px solid;
    width:fit-content;
    background:white;
    border-radius:20px;
    padding:5px;
    padding-left:10px;
    /* height */
    margin-left:-100px;
    
}


#buscar input{
    border:none;
    width:500px;
    height:30px;
    font-size:20px;
    margin-left:10px;
    font-family:'Times New Roman', Times, serif;
    /* border-radius:20px; */
}

#buscar select{
    border:1px solid;
    border-radius:15px;
    padding-left:20px;
    padding-right:20px;
}

select{
    cursor:pointer;
    margin-left:50px;
}



#input_buscar{
    height:25px;
    
    
}

#input_buscar input{
    height:25px;
    width:400px;
}