label{
    display: block;
}

#ocorrencias{
    /* display: none; */
    border:solid;
    border-radius: 15px;
    display: inline-block;
    position:fixed;
    top:0;
    left:30%;
    background:white;
    padding:10px;
}

#label_bom{
    position:relative;
    display:inline;
    margin-left:20px;
    
    
}
#label_bom input{
    position:absolute;
    opacity:0;
    cursor:pointer;
    
}
#label_ruim{
    position:relative;
    display:inline-block;
     margin-left:20px;
}
#label_ruim input{
    position:absolute;
    opacity:0;
    cursor:pointer;
}
#sorriso{
    display:inline-block;
    cursor:pointer;
}
#triste{
    display:inline-block;
    cursor:pointer;
}

#label_bom input:hover{
    transform:scale(1.5);
}

#sorriso:hover{
    transform:scale(1.5);
}

#label_ruim input:hover{
    transform:scale(1.5);
}

#triste:hover{
    transform:scale(1.5);
}
#label_bom:has(#sorriso:hover){
    margin-left:25px;
}

#label_ruim:has(#triste:hover){
    margin-left:25px;
}

#sorriso:active{
    transform:scale(1);
    
}

#triste:active{
    transform:scale(1);
    
}

#label_bom input:checked ~ #sorriso{
    filter:brightness(1.5);
}

#label_ruim input:checked ~ #triste{
    filter:brightness(1.5);
}

#input_de_nome{
    position:relative;
}

#input_de_nome #resultado{
    position:absolute;
    width:200px;
    top:30px;
    left:10px;
    border:solid;
    background-color: white;
    color:black;
    z-index:50;
}

#lugar_ocorrencias{
    display:grid;
    width:100%;
    height: fit-content;
    grid-template-columns: auto auto auto;
    gap: 15px 0px;
    margin-top:80px;

}

#adcionar_ocorrencias{
    width:fit-content;
    display:inline-block;
}

.mostra_ocorrencias{
    border:solid;
    display:inline-block;
    width:350px;
    height:150px;
    padding:20px;
    border-radius:20px;
    
}
.cgms{
    display:none
}
.relatores{
    display:none;
}

#buscar{
    display:flex;
    flex-direction:row;
    width:100%;
    height:fit-content;
    /* justify-content:space-evenly;
    */
    justify-content:center;
}

#input_buscar{
    border:1px solid;
    width:fit-content;
    background:white;
    border-radius:20px;
    padding:5px;
    padding-left:10px;
    /* height */
    margin-left:-100px;
    
}
.input_buscar i{
    
}

#buscar input{
    border:none;
    width:500px;
    height:30px;
    font-size:20px;
    margin-left:10px;
    font-family:'Times New Roman', Times, serif;
    /* border-radius:20px; */
}

#buscar select{
    border:1px solid;
    border-radius:15px;
    padding-left:20px;
    padding-right:20px;
}

select{
    cursor:pointer;
    margin-left:50px;
    
}