@font-face {
    font-family: sekuya;
    src: url(assets/Sekuya-Regular.ttf);
}

@font-face {
    font-family: bigshot;
    src: url(assets/BigshotOne-Regular.ttf);
}

@font-face {
    font-family: bigshoulder;
    src: url(assets/BigShoulders_36pt-Regular.ttf);
}

body{
    background-color:#f5f5f5;
    background-color:#E6ECF5;
    min-height: 100vh;
    /* height:fit-content; */
    width:100%;
    margin:0 auto;
}

#barra_tarefas{
    display: flex;
    /* justify-content: space-evenly; */
    position: fixed;
    width: 100vw;
    /* height: 80px; */
    /* height:13vh;
    height:6vw; */
    height:calc(3vw + 6.5vh);
    flex-direction:row;
    align-items:center;
    /* justify-content:space-evenly; */
    background-color: black;
    padding: 10px;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 10px 10px grey;
    
}

#hamburguer{
    font-size:25px;
    /* font-size:2.5vw; */
    /* font-size:4vh; */
    font-size:calc(2vh + 1.25vw);
    background:transparent;
    color:white;
    width:fit-content;
    height:fit-content;
    border:2px solid white;
    border-radius:5px;
    /* border-radius: */
    /* padding-bottom:3px; */
    padding-bottom:0.5vh;
    /* margin-left:50px; */
    margin-left:3.7vw;
    cursor:pointer;
    transition: transform 200ms ease;
    /* font-family:sekuya; */
    /* text-shadow:8px 8px 15px white; */

    /* box-shadow:5px 5px 15px white; */
}

#hamburguer:hover{
    transform:scale(1.1);
}

#h1{
    color:white;
    /* margin-left:50px; */
    margin-left:3.7vw;
    font-size:40px;
    /* font-size:2.95vw; */
    /* font-size:6.3vh; */
    font-size:calc(1.46vw + 3.15vh);
    /* font-family:monospace */
    font-family: sekuya;
    text-shadow:5px 5px 20px white;
    text-shadow:10px 10px 10px grey;
    cursor:default;
}

#barra_lateral{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    border: solid #0A174E;
    /* width: 230px; */
    /* width:17vw; */
    /* width:36.5vh; */
    width:calc(8.5vw + 18.25vh);
    background:#181717;
    /* background:linear-gradient(to bottom, #181717, black); */
    /* background-color: #f0f0f0; */
    z-index: 20;
    padding:20px;
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    /* gap:20px; */
    gap:3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#menu{
    display:flex;
    flex-direction:row;
    width:100%;
    height:60px;
    height:9.5vh;
    /* height */
    align-items:center;
    /* justify-content:space-between; */
    /* padding:20px; */
    /* background: grey; */
    border-radius:10px;
    
    
}

#menu h2{
    /* font-size:30px; */
    /* font-size:2.2vw; */
    /* font-size:4.75vh; */
    font-size:calc(1.1vw + 2.375vh);
    
    /* color: #2d429b; */
    color:white;
    cursor:default;
    font-family:sekuya;
    text-shadow:2px 2px 20px white
    /* text-shadow:5px 5px 5px #0A174E;  */
}

#menu button{
    /* color: black; */
    color:white;
    border:none;
    background:none;
    /* text-shadow:5px 5px 5px white; */
    /* font-size:25px; */
    /* font-size:4vh; */
    /* font-size:2vw; */
    font-size:calc(2vh + 1vw);
    /* text-shadow:5px 5px 5px grey;  */
    /* font-family:monospace; */
    /* margin-left:55px; */
    margin-left:4vw;
    cursor:pointer;
    font-family:sekuya;
    text-shadow:2px 2px 5px white;
    transition:transform 100ms ease;
    
}
#menu button:hover{
    transform:scale(1.3);
}

#opcoes{
    width:100%;
    height:fit-content;
    display:flex;
    border-radius:10px;
    /* padding-top:20px; */
    padding-top:3.1vh;
    /* padding-bottom:20px; */
    padding-bottom:3.1vh;
    background: white;
    flex-direction:column;
    align-items:center;
    /* gap:20px; */
    gap:3.1vh;
}

.opcoes{
    /* font-size:25px; */
    /* font-size:3.9vh; */
    /* font-size:1.8vw; */
    font-size:calc(1.95vh + 0.9vw);
    display:inline-block;
    cursor:pointer;
    text-shadow:5px 5px 5px grey;
    transition:transform 100ms ease;
    /* padding-left:20px; */
    padding-left:1.5vw;
    /* padding-right:20px; */
    padding-right:1.5vw;
}

.opcoes:hover{
    transform:scale(1.1)
}

#voltar{
    color:white;
    /* font-size:20px; */
    /* font-size:3.15vh; */
    /* font-size:1.45vw; */
    font-size:calc(1.575vh + 0.725vw);
    cursor:pointer;
    /* margin-top:80px; */
    margin-top:2vh;
    transition:transform 100ms ease;
}

#voltar:hover{
    transform:scale(1.1);
}

#muda_tema{
    display:none;
    font-size:15px;
    cursor:pointer;
    margin-top:10px;
}

#usuario{
    color:white;
    width:100%;
    height:fit-content;
    border:none;
    border-top:solid white;
    display:flex;
    align-items:center;
    /* padding-top:10px; */
    padding-top:1.5vh;
    /* padding-top:5px; */
    margin-top:2vh;
    justify-content:space-between;
}

#perfil{
    display:flex;
    width:fit-content;
    height:fit-content;
    flex-direction:column;
    align-items:center;
    /* gap:2px; */
    gap:0.5vh;
    /* justify-content:center; */
    
    /* align-items:flex-end; */
}
#nome_usuario{
    font-weight:bold;
    /* font-size:20px; */
    font-size:calc(1.575vh + 0.725vw);
    cursor:default;
}
#permissao_usuario{
    font-style:italic;
    cursor:default;
    /* font-size:16px; */
    /* font-size:1.2vw; */
    /* font-size:2.5vh; */
    font-size:calc(0.6vw + 1.25vh);
}

i{
    color:white;
    /* font-size:40px; */
    /* font-size:6.5vh; */
    /* font-size:3vw; */
    font-size:calc(3.25vh + 1.5vw);
}
.bi-box-arrow-right{
    cursor:pointer;
    transition:transform 200ms ease;
}

.bi-box-arrow-right:hover{
    transform:scale(1.1);
}

iframe{
    /* border:none; */
   
    /* width:100%;
    height:100%; */
    /* height:fit-content; */
    /* height:100vh;
    height:auto;
    height:150vh; */
    /* min-height:100vh; */
    /* height:100vh; */
    /* height:fit-content; */
    /* height:fit-content; */
    /* margin-left:250px; */
}

.outros{
    margin-left:250px;
    margin-top:120px;
}

#pagina_principal{
    margin-top:120px;
    /* display:flex; */
    /* flex-direction:column; */
    width:100%;
    height:fit-content;
    text-align:center;
}

#pagina_principal h1{
    font-size:80px;
    background:linear-gradient(to bottom, grey, black);
    /* -webkit-text-stroke:0.01px black; */
    /* text-shadow:-20px -20px 15px grey; */
    font-family:bigshoulder;
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    /* font-family:'Times New Roman', Times, serif */
    
    
}

html, body{
    overflow:hidden;
}

html, body, iframe{
    width:100%;
    margin:0;
    height:100%;
}


iframe{
    border:none;
}