label{
    display: block;
}

#ocorrencias{
    display: none;
    border:solid;
    border-radius: 15px;
    display: inline-block;
}

#fluxos_saida{
    display: none;
    border:solid;
    border-radius: 15px;
    display: inline-block;
}

#add_alunos{
    display: none;
    border:solid;
    border-radius: 15px;
    display: inline-block;
}

#add_usuarios{
    display: none;
    border:solid;
    border-radius: 15px;
    display: inline-block;
}

.nome_resultados{
    color:red;
    background: purple;
    cursor: pointer;
}